* {
  line-height: 1.4;
}

mark {
  background-color: #ffeecc;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

@media (max-width: 480px) {
  ul {
    padding-left: 24px;
  }
}

#text-on-work li b:first-child {
  display: block;
  padding-bottom: 0.33rem;
}

.now-date {
  font-family: monospace;
  font-size: small;
}

.service-questions {
  margin-bottom: 2rem;
}

.service-questions ul {
  list-style-type: none;
  padding-left: 0;
  font-style: italic;
}

.service-questions li + li {
  padding-top: 0.33rem;
}
